# This script contains the following points:

## PART 1

### 01. Import libraries
### 02. Import data
### 03. Create a subset of data (random samples) with the 70/30 slipt, due to memory constraints
### 04. Create new " region " column based on the " state " column
### 05. Determine whether there’s a difference in spending habits between the different U.S. regions
### 06. Create an exclusion flag for low-activity customers (customers with less than 5 orders) and exclude them

# 01. Import libraries

In [4]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

# 02. Import data

In [5]:
# Set path

path = r'C:\Users\nang6\OneDrive\Bureau\Data Analytics\Data Immersion\Achievement 4\02-2020 Instacart Basket Analysis'

In [6]:
# Import orders_products_all

df_ords_prods_all = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_all.pkl'))

# 03. Create a subset of data (random samples) with the 70/30 slipt, due to memory constraints

In [7]:
# Check size of df_ords_prods_all

df_ords_prods_all.shape

(32404859, 31)

In [8]:
# Set the seed

np.random.seed(4)

In [9]:
# Create a subset of data (random samples) with the 70/30 slipt

dev_2 = np.random.rand(len(df_ords_prods_all)) <= 0.7

In [10]:
# A new list called dev_2 has been created

dev_2

array([False,  True, False, ...,  True,  True,  True])

In [11]:
# Store 70% of the sample in the dataframe df_ords_prods_big

df_ords_prods_big = df_ords_prods_all[dev_2]

In [12]:
# Store 30% of the sample in the dataframe df_ords_prods_small

df_ords_prods_small = df_ords_prods_all[~dev_2]

In [13]:
# Check output

len(df_ords_prods_big) + len(df_ords_prods_small)

32404859

In [14]:
df_ords_prods_big.shape

(22683761, 31)

In [15]:
df_ords_prods_small.shape

(9721098, 31)

In [16]:
# Export df_ords_prods_big and df_ords_prods_small

df_ords_prods_big.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_big.pkl'))
df_ords_prods_small.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_small.pkl'))

# 04. Create new " region " column based on the " state " column

In [17]:
# Check state column

df_ords_prods_big['state'].value_counts(dropna = False)

Pennsylvania            467103
California              461652
Rhode Island            460034
Georgia                 459842
New Mexico              458006
Arizona                 457172
Oklahoma                456462
North Carolina          456003
Alaska                  454464
Minnesota               453995
Massachusetts           453021
Wyoming                 450931
Missouri                448813
Texas                   448337
Virginia                448151
Colorado                447359
North Dakota            447227
Maine                   447118
Alabama                 446694
Kansas                  446558
Delaware                446002
Louisiana               445782
Oregon                  445496
Arkansas                445353
Montana                 445276
Nevada                  445257
South Carolina          445180
New York                445137
Mississippi             443902
South Dakota            443834
Washington              442869
Illinois                442651
Hawaii                  442535
Kentucky                442129
Michigan                441214
Florida                 440361
Wisconsin               440034
Ohio                    439629
New Jersey              439504
Indiana                 439192
Maryland                438327
Nebraska                438177
Iowa                    437850
Connecticut             436626
Tennessee               432765
New Hampshire           430475
District of Columbia    429832
Vermont                 428371
West Virginia           428130
Utah                    428111
Idaho                   424818
Name: state, dtype: int64

In [18]:
# Define region lists

region_1_northeast = ['Maine', 'New Hampshire', 'Vermont', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New York', 'Pennsylvania', 'New Jersey']

In [19]:
region_2_midwest = ['Wisconsin', 'Michigan', 'Illinois', 'Indiana', 'Ohio', 'North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri']

In [20]:
region_3_south = ['Delaware', 'Maryland', 'District of Columbia', 'Virginia', 'West Virginia', 'North Carolina', 'South Carolina', 'Georgia', 'Florida', 'Kentucky', 'Tennessee', 'Mississippi', 'Alabama', 'Oklahoma', 'Texas', 'Arkansas', 'Louisiana']

In [21]:
region_4_west = ['Idaho', 'Montana', 'Wyoming', 'Nevada', 'Utah', 'Colorado', 'Arizona', 'New Mexico', 'Alaska', 'Washington', 'Oregon', 'California', 'Hawaii']

In [22]:
# Create new column 'region'

df_ords_prods_big.loc[df_ords_prods_all['state'].isin(region_1_northeast), 'region'] = 'Northeast'

C:\Users\nang6\AppData\Local\Temp\ipykernel_17548\3373408793.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ords_prods_big.loc[df_ords_prods_all['state'].isin(region_1_northeast), 'region'] = 'Northeast'

In [23]:
df_ords_prods_big.loc[df_ords_prods_all['state'].isin(region_2_midwest), 'region'] = 'Midwest'

In [24]:
df_ords_prods_big.loc[df_ords_prods_all['state'].isin(region_3_south), 'region'] = 'South'

In [25]:
df_ords_prods_big.loc[df_ords_prods_all['state'].isin(region_4_west), 'region'] = 'West'

In [26]:
# Check outcome

df_ords_prods_big['region'].value_counts(dropna = False)

South        7553252
West         5803946
Midwest      5319174
Northeast    4007389
Name: region, dtype: int64

In [27]:
df_ords_prods_big.shape

(22683761, 32)

# 05. Determine whether there’s a difference in spending habits between the different U.S. regions

In [28]:
# Create a crosstab

crosstab_spending_habits = pd.crosstab(df_ords_prods_big['region'], df_ords_prods_big['spending_flag'], dropna = False)

In [29]:
crosstab_spending_habits

spending_flag  High spender  Low spender
region
Midwest               20707      5298467
Northeast             13040      3994349
South                 28469      7524783
West                  21835      5782111

# 06. Create an exclusion flag for low-activity customers (customers with less than 5 orders) and exclude them from the data

In [30]:
# Create exclusion_flag

df_ords_prods_big.loc[df_ords_prods_all['max_order'] <5, 'exclusion_flag'] = 'Low activity'

C:\Users\nang6\AppData\Local\Temp\ipykernel_17548\786351492.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ords_prods_big.loc[df_ords_prods_all['max_order'] <5, 'exclusion_flag'] = 'Low activity'

In [31]:
df_ords_prods_big.loc[df_ords_prods_all['max_order'] >=5, 'exclusion_flag'] = 'High activity'

In [32]:
# Check outcome

df_ords_prods_big['exclusion_flag'].value_counts(dropna = False)

High activity    21675811
Low activity      1007950
Name: exclusion_flag, dtype: int64

In [33]:
df_ords_prods_big.shape

(22683761, 33)

In [34]:
df_ords_prods_big.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,order_frequency_flag,gender,state,age,date_joined,number_dependants,family_status,income,region,exclusion_flag
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,South,High activity
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,South,High activity
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,South,High activity
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,South,High activity
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,South,High activity

In [35]:
# Create a new dataframe wihtout low activity customers

df_high = df_ords_prods_big.loc[df_ords_prods_big['exclusion_flag'] == 'High activity']

In [36]:
# Check outcome

df_high.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,order_frequency_flag,gender,state,age,date_joined,number_dependants,family_status,income,region,exclusion_flag
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,South,High activity
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,South,High activity
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,South,High activity
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,South,High activity
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,South,High activity

In [37]:
# Check size

df_high.shape

(21675811, 33)

In [38]:
# Create a new dataframe with low-activity customers only

df_low = df_ords_prods_big.loc[df_ords_prods_big['exclusion_flag'] == 'Low activity']

In [39]:
# Check outcome

df_low.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,order_frequency_flag,gender,state,age,date_joined,number_dependants,family_status,income,region,exclusion_flag
1510,520620,120,1,3,11,NaN,196,2,0,Soda,...,Regular customer,Female,Kentucky,54,3/2/2017,2,married,99219,South,Low activity
1511,3273029,120,3,2,8,19.0,196,2,1,Soda,...,Regular customer,Female,Kentucky,54,3/2/2017,2,married,99219,South,Low activity
1512,520620,120,1,3,11,NaN,46149,1,0,Zero Calorie Cola,...,Regular customer,Female,Kentucky,54,3/2/2017,2,married,99219,South,Low activity
1513,3273029,120,3,2,8,19.0,46149,1,1,Zero Calorie Cola,...,Regular customer,Female,Kentucky,54,3/2/2017,2,married,99219,South,Low activity
1514,520620,120,1,3,11,NaN,26348,3,0,Mixed Fruit Fruit Snacks,...,Regular customer,Female,Kentucky,54,3/2/2017,2,married,99219,South,Low activity

In [116]:
# Check size

df_low.shape

(1008691, 33)

In [118]:
# Export df_high and df-low

df_high.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'high_activity_customers.pkl'))
df_low.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'low_activity_customers.pkl'))