# This script contains the following points:

#### 01. Import libraries¶
#### 02. Import data set
#### 03. If-Statements with User-Defined Functions
#### 04. If-Statements with the loc() Function
#### 05. Apply If-Statements with the loc() Function to ords_prods_merged
#### 06. Apply If-Statements with For-Loops to ords_prods_merged
#### 07. Task 4.7

# 01. Import libraries

In [3]:
import pandas as pd
import numpy as np
import os

# 02. Import data set

In [4]:
# Set path

path = r'C:\Users\nang6\OneDrive\Bureau\Data Analytics\Data Immersion\Achievement 4\02-2020 Instacart Basket Analysis'

In [5]:
# Import ords_prods_merged

ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

# 03. If-Statements with User-Defined Functions

In [6]:
# Create a subest

df = ords_prods_merged [:1000000]

Apply the following criteria:

If the item’s price is lower than or equal to $5, it will be labeled a “low-range product.”

If the item’s price is above $5 but lower than or equal to $15, it will be labeled a “mid-range product.”

If the item’s price is above $15, it will be labeled a “high-range product.”

In [7]:
# Define a function

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

### Translation:

If the value within the “prices” column within the given row is less than or equal to 5, then return the string “Low-range product.”

Or else, if the value within the “prices” column within the given row is greater than 5 and less than or equal to 15, then return the string “Mid-range product.”

Or else, if the value of the “prices” column within the given row is greater than 15, then return the string “High-range product.”

Or else, return the string “Not enough data.”

In [8]:
# Apply the newly created price_label column within the dataframe

df['price_range'] = df.apply(price_label, axis=1)

C:\Users\nang6\AppData\Local\Temp\ipykernel_24164\1931154876.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [9]:
# Check values

df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [10]:
# Check size

df.shape

(1000000, 15)

In [11]:
# Check the price of the most expensive product

df['prices'].max()

14.8

# 04. If-Statements with the loc() Function

In [12]:
# Create conditions

df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\nang6\AppData\Local\Temp\ipykernel_24164\660146880.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [13]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [14]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [15]:
# Check values

df['price_range_loc'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range_loc, dtype: int64

# 05. Apply If-Statements with the loc() Function to ords_prods_merged

In [16]:
ords_prods_merged.loc[ords_prods_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [17]:
ords_prods_merged.loc[(ords_prods_merged['prices']<= 15) & (ords_prods_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [18]:
ords_prods_merged.loc[ords_prods_merged['prices']<= 5, 'price_range_loc'] = 'Low-range product'

In [19]:
# Check values

ords_prods_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     21861558
Low-range product     10130750
High-range product      412551
Name: price_range_loc, dtype: int64

# 06. Apply If-Statements with For-Loops to ords_prods_merged

In [20]:
# Create an empty list (result)

result = []

for value in ords_prods_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [ ]:
# Check the result

result

In [22]:
# Create a new column 'busiest_day' to combine it into the dataframe

ords_prods_merged['busiest_day'] = result

In [23]:
# check values

ords_prods_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

# 07. Task 4.7

In [24]:
# Exploring ords_prods_merged

ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy

In [25]:
ords_prods_merged.shape

(32404859, 16)

### Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.

In [26]:
# Check values in orders_day_of_week column to see busiest/slowest days

ords_prods_merged['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

### Observation: Here we can see that value 0 and 1 are the two busiest and 3 and 4 the two slowest days.

In [27]:
# Create an empty list (result2)

result2 = []

for value in ords_prods_merged["orders_day_of_week"]:
  if value == 0 or value == 1:
    result2.append("Busiest days")
  elif value == 4 or value == 3:
    result2.append("Slowest days")
  else:
    result2.append("Regularly days")

In [28]:
# Create a new column 'busiest_days' to combine it into the dataframe

ords_prods_merged['busiest_days'] = result2

### Check the values of this new column for accuracy. Note any observations in markdown format.

In [29]:
# Check outcome

ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly days
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days

In [30]:
# Check values 

ords_prods_merged['busiest_days'].value_counts(dropna = False)

Regularly days    12916111
Busiest days      11864412
Slowest days       7624336
Name: busiest_days, dtype: int64

In [31]:
ords_prods_merged.shape

(32404859, 17)

### When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [32]:
# Check the frequency of orders by hour

ords_prods_merged['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [33]:
result3 = []

for value in ords_prods_merged['order_hour_of_day']:
  if value >= 9 and value <= 16:
    result3.append("Most Orders")
  elif value >= 0 and value <=6:
    result3.append("Fewest Orders")
  else:
    result3.append("Average Orders")

In [39]:
# Create a new column 'busiest_days' to combine it into the dataframe

ords_prods_merged['busiest_period_of_day'] = result3

In [40]:
# Check values

ords_prods_merged['busiest_period_of_day'].value_counts(dropna = False)

Most Orders       21118071
Average Orders    10399967
Fewest Orders       886821
Name: busiest_period_of_day, dtype: int64

In [41]:
# Check outcome

ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly days,Average Orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average Orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most Orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average Orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most Orders

In [42]:
ords_prods_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 18 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_hour_of_day       int8
 5   days_since_prior_order  float16
 6   product_id              int32
 7   add_to_cart_order       int32
 8   reordered               int8
 9   product_name            object
 10  aisle_id                int64
 11  department_id           int64
 12  prices                  float64
 13  _merge                  category
 14  price_range_loc         object
 15  busiest_day             object
 16  busiest_days            object
 17  busiest_period_of_day   object
dtypes: category(1), float16(1), float64(1), int32(4), int64(2), int8(4), object(5)
memory usage: 2.9+ GB

In [43]:
# Change types for ords_prods_merged data set 

ords_prods_merged['aisle_id'] =ords_prods_merged['aisle_id'].astype('int8')
ords_prods_merged['department_id'] =ords_prods_merged['department_id'].astype('int8')
ords_prods_merged['prices'] =ords_prods_merged['prices'].astype('float16')

In [44]:
ords_prods_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 18 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_hour_of_day       int8
 5   days_since_prior_order  float16
 6   product_id              int32
 7   add_to_cart_order       int32
 8   reordered               int8
 9   product_name            object
 10  aisle_id                int8
 11  department_id           int8
 12  prices                  float16
 13  _merge                  category
 14  price_range_loc         object
 15  busiest_day             object
 16  busiest_days            object
 17  busiest_period_of_day   object
dtypes: category(1), float16(2), int32(4), int8(6), object(5)
memory usage: 2.3+ GB

In [45]:
# Export to pkl

ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_2.pkl'))